.circleIcon {
  display: inline;
  float: left;
  margin-right: 5px;
  margin-bottom: 10px;
}
.circleIcon:hover, .svg-hover {
  circle {
    fill: #000000;
  }
}

.link--circleBox {
  float: left;
  display: inline;
  white-space: nowrap;
  text-align: left;
  padding-left: 0.5em;
}
