.circleIcon {
  display: inline;
  float: left;
  margin: 1em 1em;;
}
.circleIcon:hover, .svg-hover {
  circle {
    fill: #000000;
  }
}

.link--circleBox {
  float: left;
  white-space: nowrap;
  text-align: left;
  width: 100px;
  height: 1em;
}
