.brand-center {
  padding: 10px;
  border-radius: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* unvisited link */
a:link {
  color: black;
  fill: black;
}

/* visited link */
a:visited {
  color: black;
}

a:hover{
  color: #cccccc;
}

/* selected link */
a:active {
    color: black;
}

.full-vertical {
  min-height: 100vh;
}

.full-vertical .content-body {
  min-height: 90%;
}
.full-vertical .content-footer {
  height: 10%;
}

.iconBox-enter, .iconBox-appear, .iconBox-leave.iconBox-leave-active {
  opacity: 0.01;
}

.iconBox-leave.iconBox-leave-active {
  transition: opacity 200ms ease-in;
}

.iconBox-leave, .iconBox-enter.iconBox-enter-active, .iconBox-appear.iconBox-appear-active {
  opacity: 1;
}

.iconBox-enter.iconBox-enter-active, .iconBox-appear.iconBox-appear-active {
  transition: opacity 500ms ease-in;
}
