.triangleIcon {
  display: inline;
  float: right;
  margin-bottom: 10px
}

.triangleIcon:hover, .svg-hover {
  polygon {
    fill: #000000;
  }
}

.link--triangleBox {
  float: right;
  display: inline;
  white-space: nowrap;
  text-align: right;
  padding-right: 0.5em;
}
