<!DOCTYPE html>
<html>
  <head>
    <title>DesignStudio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    fingerprinted_asset('application'), media: 'all' %>
    <%= javascript_include_tag fingerprinted_asset('application') %>
  </head>

  <body class="full-vertical">
    <div class="row align-top medium-unstack expanded content-body">
      <div id="side_menu_app"></div>
      <div class="columns">
        <%= yield %>
      </div>
    </div>
    <div id="footer_app"></div>
  </body>
</html>
